@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
--root{
  --colore:rgb(13, 49, 71);
}
.logo {
    height: 75px;
    width: 75px;
}

a {
    text-transform: none;
    text-decoration: none;
    color: rgb(13, 49, 71);
    font-family: 'Poppins';
}


br{
  background: rgb(13, 49, 71);
}
section{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.tamaño{
  margin-left: 50px;
  margin-right: 100px;
  padding: 5px;
}
