@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
$primary-color: rgb(13, 49, 71);
$secundary-color: #fff;
$third-color: rgb(253, 208, 105);
$carousel-control-width: 15%;
$for-color: rgb(231, 71, 117);

%hover {
  cursor: pointer;
}

.nav,.navbar-nav,
.collapse, .navbar-collapse,
.navbar-expand-lg, .bg-light,
.nav-item {
  color: $primary-color;
  background-color: $third-color ;
  font-family: 'Poppins';
  text-align: right;
}

.navbar-nav :hover {
  @extend %hover;
}

.container-fluid {
  background-color: $third-color;
  text-align: right;
}

.navbar-brand {
  background-color: $third-color;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: $third-color  !important;
}

.content-box {
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  margin-bottom: 30px;
  align-items: center;
}


.carousel,
.slide {
  width: 40%;
  height: 50%;
  margin: 0%;
}

.carousel-inner {
  width: 80%;
  height: 80%;
  margin-left: -125px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  
}

.data-slide {
 
 margin-top: 5px;
  margin-left: 50px;
  margin-right: -25px;
}
.carousel-caption {
  color: whitesmoke;
  font-family: 'Poppins';
  font-size: medium;
  font-style: inherit;
}

.col {
  height: max-content;
  width: max-content;
  text-align: center;
  padding: 25px;
  margin-left: 25px;
}

.card {
  margin-top: 5px;
  padding: 5px;
  position: relative;
  text-align: justify;
  margin-left: 25px;

}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}